# Домашнее задание «Библиотека Pandas»

# Задание 1

In [115]:
import pandas as pd

rating_data = pd.read_csv('C:/IT/DATA_for_homeworks/Pandas_library/ml-25m/ratings.csv')
rating_data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [73]:
# 1 вариант решения
rating_data['movieId'].value_counts('5.', ascending=False)

356       3.259628e-03
318       3.259268e-03
296       3.186868e-03
593       2.965069e-03
2571      2.906949e-03
              ...
142782    3.999985e-08
63141     3.999985e-08
135021    3.999985e-08
206712    3.999985e-08
190761    3.999985e-08
Name: movieId, Length: 59047, dtype: float64

In [22]:
# 2 вариант решения
movies = rating_data[['rating', 'movieId']]
movies.query('rating == 5.0')
movies['movieId'].value_counts().head(10)

356     81491
318     81482
296     79672
593     74127
2571    72674
260     68717
480     64144
527     60411
110     59184
2959    58773
Name: movieId, dtype: int64

# Задание 2

In [23]:
country_data = pd.read_csv('C:/IT/DATA_for_homeworks/Pandas_library/10_Basic_pandas/power.csv')
country_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [96]:
filtered_countries = country_data[ (country_data['country']=='Latvia') | (country_data['country']=='Lithuania') | (country_data['country']=='Estonia')]

In [97]:
filtered_countries_1 = filtered_countries[ (filtered_countries['year']>=2005) & (filtered_countries['year']<=2010) ]

In [103]:
filtered_countries_2 = filtered_countries_1.query('category == 4 | category == 12 | category == 21')

In [110]:
filtered_countries_3 = filtered_countries_2.query('quantity >= 0')

In [109]:
filtered_countries_3['quantity'].sum()

240580.0

# Задание 3

In [122]:
# !pip install pymysql
import pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [134]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
df

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1004103      -              1006890
 1          NaN            EUR/RUB       890120      -               895660
 2          NaN            USD/RUB       735270      -               738572
 3          NaN            JPY/RUB        07102      -                07107
 4          NaN            CNY/RUB       113707      -               113994
 5          NaN            CHF/RUB       826532      -               831066
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12107      -                12128
 8          NaN            EUR/GBP        08864      -                08897
 9          NaN            EUR/JPY      1253300      -              1260300
 10         NaN            EUR/CHF        10769      -                10777
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08260      -                08244
 13         NaN            USD/GBP        07323      -                07335
 14         NaN            USD/JPY      1035415      -              1039110
 15         NaN            USD/CHF        08896      -                08887
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08000      -                07900
 18         NaN            JPY/GBP        00071      -                00071
 19         NaN            JPY/USD        00097      -                00096
 20         NaN    JPY/CHF (100:1)        08600      -                08600
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13657      -                13635
 23         NaN            GBP/JPY      1413888      -              1416755
 24         NaN            GBP/EUR        11282      -                11242
 25         NaN            GBP/CHF        12149      -                12119
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12149      -                12119
 28         NaN            EUR/CHF        10769      -                10777
 29         NaN    JPY/CHF (100:1)        08600      -                08600
 30         NaN            USD/CHF        08896      -                08887
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       341884      -               341627
 33         NaN            USD/UAH       282350      -               281650
 34         NaN            CHF/UAH       317390      -               316924
 35         NaN            GBP/UAH       385577      -               383974

           %  Абсолютное значение     Время
 0   -0,28 %               -02787  00:43:00
 1   -0,62 %               -05540  00:44:00
 2   -0,45 %               -03302  00:43:00
 3   -0,07 %               -00005  00:44:00
 4   -0,25 %               -00288  00:43:00
 5   -0,55 %               -04534  00:43:00
 6         %  Абсолютное значение     Время
 7   -0,17 %               -00021  00:44:00
 8   -0,36 %               -00032  00:44:00
 9   -0,56 %               -07000  00:44:00
 10  -0,07 %               -00008  00:44:00
 11        %  Абсолютное значение     Время
 12   0,19 %                00016  00:44:00
 13  -0,17 %               -00012  00:43:00
 14  -0,36 %               -03695  00:44:00
 15   0,10 %                00009  00:44:00
 16        %  Абсолютное значение     Время
 17   0,56 %                00000  00:44:00
 18   0,20 %                00000  00:44:00
 19   0,37 %                00000  00:44:00
 20   0,47 %                00000  00:44:00
 21        %  Абсолютное значение     Время
 22   0,16 %                00022  00:44:00
 23  -0,20 %               -02867  00:44:00
 24   0,36 %                00040  00:44:00
 25   0,25 %                00030  00:44:00
 26        %  Абсолютное значение     Время
 27   0,25 %                00030  00:44:00
 28  -0,07 %               -00008  00:44:00
 29   0,47 %                00000  00:44:00
 30   0,10 %                00009  00:44:00
 31        %  Абсолютное значение     Время
 32   0,08 %                00256  00:43:00
 33   0,25 %                00700  00:43:00
 34   0,15 %                00466  00:43:00
 35   0,42 %                01604  00:43:00  ]